Update Distribution: 
update_size_1,update_size_2,update_size_4,update_size_8,update_size_16,update_size_32,update_size_64,update_size_128,update_size_256,update_size_512,update_size_up
13,17,13,168,56,26,4,0,0,0,0
