Update Distribution: 
update_size_1,update_size_2,update_size_4,update_size_8,update_size_16,update_size_32,update_size_64,update_size_128,update_size_256,update_size_512,update_size_up
2,0,0,10,1,0,0,0,2,0,0
Partitions Status:
Partition,Cache_Load_Times,Used_Hot_Tracks,Used_Cold_Tracks
0,0,5,33
